django_tables2
django-crispy-forms
bootstrap4
django-colorfield
django-phone-field
django-countries
django-widget-tweaks
django-summernote
django-bootstrap-modal-forms
django-autocomplete-light

postgres
py-postgresql

djangorestframework
markdown
django-filter

django-sitetree

argon2-cffi
bcrypt
pbkdf2
