{% extends "base_auth.html" %}
{% load crispy_forms_tags %}
{% load configuration_tags %}

{% block additional_script_and_link_block %}
{% getConfiguration as configuration %}
<style type="text/css">
  .content {
    color: white;
    background: url('{{ configuration.log_in_img.url }}') no-repeat;
    background-size: cover;
  }
  .form-control {
    background-color: white;
    border: none;
    outline:none;
    color: black;
    border-radius: 0px;
  }

</style>
{% endblock %}

{% block content_block %}
  <div style="margin-top: 10px;">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="card shadow-lg border form_transparent">
              <div class="card-body">
                <h1>Reset Password</h1>
                {% if isErrorMessage %}
                  <div class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                  </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Reset">
                    <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
